:root {
    --primary: #ccf5e60a;
    --blue: #243665;
    --grey: #1c2120;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("https://i.ibb.co/XpyB84s/PCKWT-Website-desktop.gif");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* Needed for absolute positioning */
    height: 100vh;
    background-color: black;
    font-family: 'Raleway', sans-serif;
    align-items: center;
    text-align: center;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

.grid-container {
    display: grid;
    grid-template-rows: auto auto;
    /* Two rows */
    grid-template-columns: 1fr;
    /* One column */
    gap: 0px 20px;

}

.item {
    border: 0px solid #000;
    padding: 10px;
    text-align: center;
    padding-bottom: 5%;
}


.item2 {
    border: 0px solid #000;
    text-align: center;
    padding-right: 25%;
    padding-left: 25%;
}


.txt {
    background-color: rgba(255, 255, 255, 0.048);
    border: 2px solid rgba(255, 255, 255, 0.226);
    border-radius: 15px;

    width: 300px;
    font-size: 16px;
    letter-spacing: 4px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    justify-content: center;
    line-height: 0.7em;
    outline: none;
    padding: 20px;
    cursor: default;
    text-shadow: 0 2px 10px#8bd8bd;

    margin: 0 auto;
}

/* BUTTONS STUFF */
@import url('Raleway-Medium.ttf');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@keyframes animate1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}


a {
    left: 50%;
    transform: translateX(-50%);
}

#a5 {
    position: relative;
    display: block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #c6f5e4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    background-color: var(--primary);
    width: 400px;
    box-shadow: 5px 2px 2px #ffffff2f;
    font-weight: bold;

}

#a5:hover {
    background: black;
    color: #c6f5e4;
    box-shadow: 0 0 5px #c6f5e4,
        0 0 25px #c6f5e4,
        0 0 50px #c6f5e4,
        0 0 200px #c6f5e4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);

}

#a5 span {
    position: absolute;
    display: block;
}

#a5 span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #c6f5e4);
    animation: animate1 3.2s linear infinite;
}

.space {
    height: 20px;
    width: 100%;
}

/*TEXT EFFECT*/
#header {
    position: relative;
    font-size: 60px;
    letter-spacing: 15px;
    color: #2d2a32;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0002);
    line-height: 0.7em;
    outline: none;
    animation: animate 5s linear infinite;
    animation-delay: 1s;
    padding-top: 5%;
    margin-bottom: 19px;
    cursor: default;
}

h2 {
    position: relative;
    font-size: 20px;
    letter-spacing: 15px;
    color: #2d2a32;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0002);
    line-height: 0.7em;
    outline: none;
    animation: animate 5s linear infinite;
    animation-delay: 1s;
    cursor: default;
    padding-bottom: 0px;
}

@keyframes animate {

    0%,
    18.1%,
    20%,
    55%,
    60%,
    90%,
    92% {
        color: #2d2a32;
        text-shadow: none;
    }

    18%,
    20.1%,
    55.1%,
    60.2%,
    90.1%,
    92.2%,
    100% {
        color: #c6f5e4;
        text-shadow: 0 0 10px #adb5bd, 0 0 20px #adb5bd, 0 0 40px #212529,
            0 0 60px #adb5bd, 0 0 80px #212529, 0 0 140px #adb5bd;
    }
}


/*MOBILE USERS VIEW*/
@media only screen and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
        background-image: url("https://i.ibb.co/6s2zqm2/PCKWT-Website-phone-services.gif");
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        /* Needed for absolute positioning */
        height: 100vh;
        width: 100%;
        font-family: 'Raleway', sans-serif;
    }


    #header {
        margin-top: 50px;
        position: relative;
        font-size: 22px;
        letter-spacing: 10px;
        color: var(--primary);
        width: 100%;
        text-transform: uppercase;
        text-align: center;
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0002);
        line-height: 0.7em;
        outline: none;
        animation: animate 5s linear infinite;
        animation-delay: 1s;
        padding-top: 5%;
        margin-bottom: 19px;
        cursor: default;

    }


    .txt {
        background-color: rgba(255, 255, 255, 0.048);
        border: 2px solid rgba(255, 255, 255, 0.226);
        border-radius: 15px;

        width: 70%;
        font-size: 10px;
        letter-spacing: 4px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        align-items: center;
        text-align: center;
        justify-content: center;
        line-height: 0.7em;
        outline: none;
        padding: 20px;
        cursor: default;
        text-shadow: 0 2px 10px#8bd8bd;

        margin: 0 auto;

    }

    h2 {
        position: relative;
        font-size: 9px;
        letter-spacing: 10px;
        color: var(--primary);
        width: 100%;
        text-transform: uppercase;
        text-align: center;
        -webkit-box-reflect: below 1px linear-gradient(var(--primary), var(--primary));
        line-height: 0.7em;
        outline: none;
        animation: animate 5s linear infinite;
        animation-delay: 1s;
        cursor: default;
        padding-bottom: 35px;

    }


    #a5 {
        position: relative;
        display: block;
        padding: 8px 10px;
        margin: 20px 0;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.5s;
        letter-spacing: 4px;
        overflow: hidden;
        font-size: 12px;
        background-color: var(--primary);
    }


    .space {
        height: 7px;
        width: 100%;
    }

}
