:root {
    --primary: ##1c2120;
    --blue: #243665;
    --grey: #1c2120;
  }

body {
    margin: 0;
    padding: 0;
    background-image: url("https://i.ibb.co/RzGGhCQ/services-back-Madewith-Clipchamp1-ezgif-com-video-to-gif-converter.gif");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; /* Needed for absolute positioning */
    height: 100%;
    width: 100%;

    
}

@font-face {
    font-family: HeaderFont;
    src: url(ChakraPetch-BoldItalic.ttf);
}



button {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    width: 200px;
    height: 70px;
    border-color: #8bd8bd;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #29f3ac;
    color: #8bd8bd;
    transition: background-color 0.3s, color 0.3s;
    z-index: 9998; 
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}

.grid-container {
    display: grid;
    grid-template-rows: auto auto; /* Two rows */
    grid-template-columns: 1fr; /* One column */
    gap: 0px 20px;  

  }
  
.item {
    border: 0px solid #000;
    padding: 10px;
    text-align:center;
    padding-bottom: 5%;
  }


.item2 {
    border: 0px solid #000;
    text-align:center;
    padding-right: 25%;
    padding-left: 25%;
  }


.service-title{
    position: relative;
    font-size: 16px;
    letter-spacing: 7px;
    font-family: HeaderFont;
    color:  rgb(255, 255, 255);
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    line-height: 0.7em;
    outline: none;
    padding-top: 15px;
    padding-bottom: 31px;
    cursor:default;
  }

  /* BUTTONS STUFF */
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#a1{
    position: relative;
    display: block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
   
}
#a1:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

#a1 span{
    position: absolute;
    display: block;
}
#a1 span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 2.5s  linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}

#a2{
    position: relative;
    display: block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #f40317;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
   
}
#a2:hover{
    background: #f40317;
    color: #050801;
    box-shadow: 0 0 5px #f40317,
                0 0 25px #f40317,
                0 0 50px #f40317,
                0 0 200px #f40317;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

#a2 span{
    position: absolute;
    display: block;
}
#a2 span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#f40317);
    animation: animate1 2.9s  linear infinite;
}


#a3{
    position: relative;
    display: block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #fa28bb;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
   
}
#a3:hover{
    background: #fa28bb;
    color: #050801;
    box-shadow: 0 0 5px #fa28bb,
                0 0 25px #fa28bb,
                0 0 50px #fa28bb,
                0 0 200px #fa28bb;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

#a3 span{
    position: absolute;
    display: block;
}
#a3 span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#fa28bb);
    animation: animate1 3s  linear infinite;
}


#a4{
    position: relative;
    display: block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #28fa28;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    background-color: #ffffff0c;
   
}
#a4:hover{
    background: #28fa28;
    color: #050801;
    box-shadow: 0 0 5px #28fa28,
                0 0 25px #28fa28,
                0 0 50px #28fa28,
                0 0 200px #28fa28;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

#a4 span{
    position: absolute;
    display: block;
}
#a4 span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#28fa28);
    animation: animate1 2.8s  linear infinite;
}

a{    left: 50%;
    transform: translateX(-50%);}
#a5{
    position: relative;
    display: block;
    padding: 25px 30px;
    margin: 40px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    background-color: #ffffff0c;
    width: 400px;
   
}
#a5:hover{
    background: black;
    color: white;
    box-shadow: 0 0 5px white,
                0 0 25px white,
                0 0 50px white,
                0 0 200px white;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
     
}

#a5 span{
    position: absolute;
    display: block;
}
#a5 span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,white);
    animation: animate1 3.2s  linear infinite;
}

.space{
    height: 20px;
    width: 100%;
}

#a6{
    position: relative;
    display: block;
    padding: 25px 30px;
    margin: 40px 0;
    color:  #e96e09;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
   
}
#a6:hover{
    background:  #e96e09;
    color: #050801;
    box-shadow: 0 0 5px #e96e09,
                0 0 25px  #e96e09,
                0 0 50px  #e96e09,
                0 0 200px  #e96e09;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

#a6 span{
    position: absolute;
    display: block;
}
#a6 span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent, #e96e09);
    animation: animate1 2.5s  linear infinite;
}



/*TEXT EFFECT*/
#header {
    position: relative;
    font-size: 60px;
    letter-spacing: 15px;
    font-family: HeaderFont;
    color: #2d2a32;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0002);
    line-height: 0.7em;
    outline: none;
    animation: animate 5s linear infinite;
    animation-delay: 1s;
    padding-top: 5%;
    margin-bottom: 19px;
    cursor:default;
  }

  h2 {
    position: relative;
    font-size: 20px;
    letter-spacing: 15px;
    font-family: HeaderFont;
    color: #2d2a32;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0002);
    line-height: 0.7em;
    outline: none;
    animation: animate 5s linear infinite;
    animation-delay: 1s;
    cursor:default;
    padding-bottom: 0px;
  }
  
  @keyframes animate {
    0%,
    18.1%,
    20%,
    55%,
    60%,
    90%,
    92% {
      color: #2d2a32;
      text-shadow: none;
    }
    18%,
    20.1%,
    55.1%,
    60.2%,
    90.1%,
    92.2%,
    100% {
      color: #ffff;
      text-shadow: 0 0 10px #adb5bd, 0 0 20px #adb5bd, 0 0 40px #212529,
        0 0 60px #adb5bd, 0 0 80px #212529, 0 0 140px #adb5bd;
    }
  }


  /*MOBILE USERS VIEW*/
  @media only screen and (max-width: 600px) 
  {
    body {
        margin: 0;
        padding: 0;
        background-image: url("https://i.ibb.co/RzGGhCQ/services-back-Madewith-Clipchamp1-ezgif-com-video-to-gif-converter.gif");
        background-repeat: no-repeat;
        background-size: cover;
        position: relative; /* Needed for absolute positioning */
        height: 100vh;
        width: 100%;
    }
    

    #header {
        margin-top: 25px;
        position: relative;
        font-size: 22px;
        letter-spacing: 10px;
        font-family: HeaderFont;
        color: #2d2a32;
        width: 100%;
        text-transform: uppercase;
        text-align: center;
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0002);
        line-height: 0.7em;
        outline: none;
        animation: animate 5s linear infinite;
        animation-delay: 1s;
        padding-top: 5%;
        margin-bottom: 19px;
        cursor: default;
    
      }

      h2 {
        position: relative;
        font-size: 9px;
        letter-spacing: 10px;
        font-family: HeaderFont;
        color: #2d2a32;
        width: 100%;
        text-transform: uppercase;
        text-align: center;
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0002);
        line-height: 0.7em;
        outline: none;
        animation: animate 5s linear infinite;
        animation-delay: 1s;
        cursor: default;
        padding-bottom: 35px;

    
      }

      
    #a1{
        position: relative;
        display: block;
        padding: 8px 10px;
        margin: 40px 0;
        color: #03e9f4;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.5s;
        letter-spacing: 4px;
        overflow: hidden;
        font-size: 12px;
    }

    #a2{
        position: relative;
        display: block;
        padding: 8px 10px;
        margin: 40px 0;
        color: #f40317;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.5s;
        letter-spacing: 4px;
        overflow: hidden;
        font-size: 12px;
       
    }

    
#a3{
    position: relative;
    display: block;
    padding: 8px 10px;
    margin: 40px 0;
    color: #fa28bb;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    font-size: 12px;
   
}

#a4{
    position: relative;
    display: block;
    padding: 8px 10px;
    margin: 20px 0;
    color: #28fa28;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    font-size: 12px;
   
}

    
#a5{
    position: relative;
    display: block;
    padding: 8px 10px;
    margin: 20px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    font-size: 12px;
    background-color: #ffffff0c;
}

#a6{
    position: relative;
    display: block;
    padding: 8px 10px;
    margin: 40px 0;
    color:  #e96e09;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    font-size: 12px;
   
}

.service-title{
    position: relative;
    font-size: 10px;
    letter-spacing: 4px;
    font-family: HeaderFont;
    color:  rgb(255, 255, 255);
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    line-height: 0.7em;
    outline: none;
    padding-top: 5px;
    margin-bottom: 5px;
    cursor:default;
  }

  .space{
    height: 7px;
    width: 100%;
}

  } 
